<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573485230524-1o19tr3sljgqusj1ts4vh19ndq8vteug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573485230524-1o19tr3sljgqusj1ts4vh19ndq8vteug</string>
	<key>API_KEY</key>
	<string>AIzaSyDVh_2FqIP0xtHvk57U0TU0-O_hDxkczTg</string>
	<key>GCM_SENDER_ID</key>
	<string>573485230524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safrati.flutterWeekendProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-weekend-e7fd7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-weekend-e7fd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573485230524:ios:f4bc35ab93f7c633c763b9</string>
</dict>
</plist>